@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap');

*{
    margin:0;
    padding:0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font: 300 14px Lato,sans-serif;
    background: #F6F6F6;
    -webkit-font-smooothing:antialised;
}

div.sidenav---sidenav---_2tBP, .side-nav{
    background-color: #12524B;

    position: fixed;
    top:0;
    left: 0;
    height: 110vh;

    width: auto !important;

    justify-items: center;
    align-items: center;
}

.navItem-logo{
    justify-items: center;
    align-items: center;
    padding: 1.5%;
}

.navItem-logo img{
    min-width: 40px;
    width: 90%;
}
    
.navItem-perfile{
    text-align: center;
    color: white;
    align-items: center;
}
.navItem-perfile .icon svg{
    max-width: 45%;
    width: 100%;
}
.navItem-perfile h2{
    line-height: 130%;
    font-size: 75%;
    font-weight: bold;
}
.navItem-perfile h3{
    line-height: 110%;
    font-size: 65%;
    font-weight: 300;
}
.navItem-perfile hr{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}
.nav-body{
    padding: 0;
    width: 100%;
}

.nav-body svg.icon{
    height: 35px;
    width: auto;
}

div.sidenav---navicon---3gCRo, div.sidenav---sidenav-navitem---uwIJ-{
    line-height: 8px !important;
    font-size: 85% !important;
    float: initial !important;
    width: 100% !important;
}
div.sidenav---navicon---3gCRo svg, div.sidenav---sidenav-navitem---uwIJ- svg{
    padding: 5% !important;
}
div.sidenav---sidenav-subnav---1EN61{
    left: 100% !important;
}
.nav-body .icon-footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    left: 30px;
}
.nav-body .icon-footer h2{
    position: fixed;
    bottom: 12px;
}

footer{
    left: 5%;
    bottom: 0px;
    background: rgba(18, 82, 75,1);
    width: 100%;
    color: white;
    padding: 1.5% 0px;
}

footer h1{
    font-weight: 300;
    text-align: center;
    font-size: 85%;
    line-height: 110%;
}

input,button,textarea,select{
   font: 400 18px Lato,sans-serif;
}

button{
   cursor: pointer;
}

form input, select{
    border-radius: 8px;
    padding: 0 24px;
    width: 250px;
    height: 43px;
    left: 837px;
    top: 434px;

    background: #FFFFFF;

    border: 1.5px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-right: 50px;
}

select option::selection{
    border: 0;
    background-color: #12524B;
    color: white;
}

option:hover{
    background-color: #12524B;
    color: white;
}

form textarea{
    width: 100%;
    resize: vertical;
    min-height: 100px;

    border-radius: 8px;
    border: 1.5px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 5px 24px;
    margin-right: 50px;

    background: #FFFFFF;

    color:#333;
    line-height: 24px;
}

.button,.button-cancel{
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 10px 0;
    background: #00A859;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 6px;

    color:#fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;

    transition: background-color 0.2s; 
}
.button:hover{
    background-color:#46CC6E;
}
.button-cancel{    
    background: rgb(87, 92, 90);
}
.button-cancel:hover{
    background: rgba(87, 92, 90,0.7);
}

.back-link{
   display:flex;
   align-items: center;
   margin-top:40px;
   color:#41414d;
   font-size: 18px;
   text-decoration: none;
   font-weight: 500;
   transition: opacity 0.2s;
}
.navItem-logo{
    margin: 15px;
}
.back-link svg{
    margin-right: 8px;
}

.back-link:hover{
    opacity: 0.8;
}

