.content{
    width: 80%;
    max-width: 1120px;
    height: 450px;
    margin: 0 auto;
    margin-top: 5%;

    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container .content section.welcome{
    width: 50%;
    height: 100%;
    
    /* Cor secundaria */
    background: #12524B;
    border: 1px solid #12524B;
    box-sizing: border-box;
    box-shadow: inset 1px 1px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    text-align: center;
}

.logon-container .content section.welcome h1{
    font-weight: bold;
    font-size: 32.24px;
    line-height: 30px;
    letter-spacing: 14px;
    text-transform: uppercase;
}

.logon-container .content section.welcome h2{
    font-weight: 300;
    font-size: 22.24px;
    margin-top: 30px;
}

.logon-container .content section.form{
    width: 50%;
    height: 100%;

    background: #FFFFFF;
    /* background- ton1 */
 
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 10px 10px 0px;

    display: flex;  
    flex-direction: column;
    align-items: center;
}
.logon-container .content section.form .logoImg{
    margin-top: 25px;
    width: 250px;
}

.logon-container .content section.form form{
    margin-top: 30px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: left;
    }

.logon-container .content section.form form h1{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 0 0 5px 0;
}

.logon-container .content section.form form h2{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding: 10px 0 5px 0;
}
.logon-container .content section.form button {
    position: relative;
    margin: 30px 0 0 0;
    width: 100%;
}

.logon-container .content section.form button svg {
    margin-right: 15px;
}
.logon-container .content section.form form svg{
    margin-right: 10px;
}
.logon-container .content section.form .back-link{
    font-size: 15px;
    line-height: 16px;
    color: #999999;
    font-weight: 300;
    margin-top: 10px;
}

.logon-container .content section.form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 14px;
    line-height: 16px;
    color:#DDD;
}
.logon-container .content section.form  input:focus {
    border: 1.5px solid rgba(0,168,89,0.7);
}
.footer{
    left: 0;
    bottom: 0;
}

.logon-container section.form form svg{
    margin-right: 5px;
}

.dialog{
    background-color: rgba(240, 240, 240, 0.3);
    width: 400px;
}
.dialog-title{
    background-color: rgba(240, 240, 240, 0.5);
    border: 4px solid #12524B;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
   
    color: #12524B;
}
.dialog-title p{
    font-weight: bold;
} 

.dialog-description{
    
    color: #292929;
    font-weight: 300;
    font-size: 16px;
   
}

.MuiButton-label {
    background-color: #12524B !important;
    padding: 0px 20px;
    margin: 0;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 10px;
    line-height: 32px;
}
.alert-icon{
    margin-top: 4px;
    float: left;
    margin-right: 15px;
}
